.box-color-shadow {
  border-radius: 41px 41px;
  background-color: #ffffff;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.05);
}

.box-color-shadow-rect {
  border-radius: 1px 1px;
  background-color: #ffffff;
  box-shadow: 0 12px 14px 0 rgba(44, 44, 44, 0.05);
}

.mat-raised-button:not([class*=mat-elevation-z]) {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.09), 0px 2px 2px 0px rgba(0, 0, 0, 0.09), 0px 1px 5px 0px rgba(0, 0, 0, 0.09) !important;
  border-radius: 28px 76px 63px !important;
  width: 150px;
  color: white !important;
}

.button-row button {
  margin-right: 15px;
}

button.mat-raised-button.mat-primary:active {
  background-color: #a7be2f;
}

.content {
  background-color: white;
  height: 50em;
}

#outerDiv {
  position: relative;
  background-image: url(../../../assets/img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#innerDiv {
  position: absolute;
  margin-top: -70px;
  margin-right: auto;
}

@media (max-width: 768px) {
  #innerDiv {
    position: relative;
    margin-top: -70px;
    margin-right: auto;
  }
}

ul#side {
  li {
    padding: 10px;
    cursor: pointer;
  }

  list-style: none;
  background-color: #d1d1d1;
  background-color: rgba(0, 0, 0, .03);
  list-style-type: none !important;
  border-radius: 0px 05px;
  height: 500px;
  padding: 5px 10px 10px 10px;
  font-family: 'Encode Sans',
  sans-serif;
  padding-top: 15px;
  font-size: 14px;
  max-height: 75vh;
  overflow: auto;
}

ul#side {
  li:hover {
    // background-color: #f5f5f5;
    color: #949494;
    border-radius: 28px 76px 63px;
  }
}

.activeComponent {
  font-weight: 600;
}

.sticky-top {
  display: flow-root;
}

.sticky-top {
  display: flow-root;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #bbd212;
}

//terminal
.bg-terminal {
  background-color: #343a40 !important;
  border-radius: 10px;
}

.main-div-box {
  border-radius: 1px 1px;
  background-color: #ffffff;
  /* box-shadow: 0 12px 14px 0 rgba(44, 44, 44, 0.5); */
  box-shadow: 1px 4px 8px 5px rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}

textarea#code {
  border: 2px solid #404040ed !important;
  background: #464646d4;
  background: #535353;
  color: white;
  font-family: 'Inconsolata', monospace;
  border-radius: 10px;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.05);
}

#wordWrap {
  word-break: break-all !important;
}

// css used
.borBottom {
  border-bottom: 3px solid #a7c913;
  letter-spacing: 0.5px;
}

table {
  width: 100%;
}

.mat-header-cell {
  color: rgba(0, 0, 0, 0.94);
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 16px;
}

.mark,
mark {
  padding: .2em;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.mat-elevation-z8 {
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .1), 0 0px 0px 1px rgba(0, 0, 0, .008), 0 3px 4px 2px rgba(0, 0, 0, .012);
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  letter-spacing: 0.01px;
}

ul {
  li {
    list-style: none;
  }
}

.userNameFont {
  font-family: 'Encode Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #ffffff;
}

.headerFont {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  letter-spacing: -0.3px;
  color: #b6b6b6;
}

.sukubla {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #ffffff;
  font-weight: 500;
}

.txtBlnce {
  font-family: 'Encode Sans', sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.1px;
  color: #b6b6b6;
}

.iconColr {
  color: #d8fc40;
}

.subMenuBgStyle {
  color: rgba(255, 255, 255, .5) !important;
  padding: 1px;
}


/* Product - List */
.product-list {
  width: 100%;
  float: left;
}

.product-list .article {
  width: 100%;
  min-height: 180px;
  float: left;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.050) 0 10px 20px;
  border-radius: 0 0 25px 25px;
  padding: 30px 40px 26px 40px;
  margin: 0 0 20px 0;
}

.product-list .article:last-child {
  margin-bottom: 0;
}

.product-list .article .product-img {
  width: 180px;
  height: 148px;
  float: left;
  text-align: center;
  line-height: 120px;
  box-shadow: #f4f4f4 0 0 0 1px;
  position: relative;
  margin: 0 -180px 0 0;
  z-index: 10;
}

.product-list .article .product-img a {
  width: 100%;
  float: left;
}

.product-list .article .product-img img {
  max-width: 100%;
}

.product-list .article .product-details {
  width: 100%;
  float: left;
  padding: 0 0 0 200px;
}

.product-list .article .details-top {
  width: 100%;
  float: left;
  padding: 0 0 20px 0;
}

.product-list .article .details-top:last-child {
  padding-bottom: 0;
}

.product-list .article .details-top .product-title {
  width: 35%;
  float: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 0 0;
  margin: 0 -2px;
}

.product-list .article .details-top .product-title h3 {
  padding: 0 0 5px 0;
}

.product-list .article .details-top .product-title h3 a {
  color: #1d1d1d;
  text-decoration: none;
}

.product-list .article .details-top .product-title h3 a:hover {
  color: #02b3e3;
}

.product-list .article .details-top .top-links {
  width: 65%;
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 -2px;
  text-align: right;
}

.product-list .article .details-top .top-links .options {
  width: 52%;
  float: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 -1px -10px -1px;
}

.product-list .article .details-top .top-links .options-in {
  float: right;
}

.product-list .article .details-top .top-links .options label {
  font-family: "abelregular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 2px 0 0 27px;
}

.product-list .article .details-top .top-links .options .check {
  width: auto;
  float: left;
  padding: 0;
  margin: 0 26px 10px 0;
}

.product-list .article .details-top .top-links .options .check:last-child {
  margin-right: 0;
}

.product-list .article .details-top .top-links .btn {
  width: 100%;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

.product-list .article .details-top .top-links .btn-out {
  width: 145px;
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 -1px 0 20px;
}

.product-list .article .details-top .top-links .bids-link {
  width: 145px;
  float: none;
  display: inline-block;
  vertical-align: middle;
  font-family: "abelregular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #757575;
  text-align: left;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 0 20px;
  margin: 0 -1px 0 20px;
}

.product-list .article .details-top .top-links .bids-link:before {
  content: "";
  width: 1px;
  height: 50px;
  float: left;
  background: #f1f1f1;
  position: absolute;
  top: -14px;
  left: 0;
}

.product-list .article .details-top .top-links .bids-link a {
  color: #757575;
}

.product-list .article .details-top .top-links .bids-link a:hover {
  color: #02b3e3;
}

.product-list .article .details-bottom {
  width: 100%;
  float: left;
}

.product-list .article .details-bottom .highlights-cont {
  width: 65%;
  float: left;
}

.product-list .article .details-bottom .highlights-cont p {
  padding: 0;
}

.product-list .article .details-bottom .highlights-cont ul {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0 0 -15px 0;
}

.product-list .article .details-bottom .highlights-cont ul li {
  width: 23%;
  float: left;
  padding: 0 5px 15px 0;
}

.product-list .article .details-bottom .highlights-cont ul li:before {
  display: none;
}

.product-list .article .details-bottom .offer-cont {
  width: 21%;
  float: right;
  position: relative;
  padding: 0 0 0 10px;
  margin: -6px 0 0 0;
}

.product-list .article .details-bottom .offer-cont:before {
  content: "";
  height: 100%;
  float: left;
  background: #f3f3f3;
  position: absolute;
  top: 0;
  left: 0;
}

.product-list .article .details-bottom .offer-cont p {
  padding: 0;
}

.product-list .article .details-bottom .offer-cont ul {
  width: 100%;
  float: right;
  position: relative;
  padding: 0;
  margin: 0;
}

.product-list .article .details-bottom .offer-cont ul li {
  width: 36%;
  float: left;
  padding: 0;
}

.product-list .article .details-bottom .offer-cont ul li:before {
  display: none;
}

.product-list .article .details-bottom .offer-cont ul li .price-txt {
  font-family: "proxima_novabold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.product-list .article-out {
  width: 100%;
  float: left;
}

@media (max-width: 1199px) {
  .product-list .article .details-top .product-title {
    width: 50%;
    float: left;
    margin: 0;
  }

  .product-list .article .details-top .top-links {
    width: 50%;
    float: left;
    margin: 0;
  }

  .product-list .article .details-top .top-links .options {
    width: 100%;
    float: right;
    padding: 0 0 15px 0;
    margin: 0 0 -10px 0;
  }

  .product-list .article .details-top .top-links .btn-out {
    width: 145px;
    float: right;
    margin: 0;
  }

  .product-list .article .details-top .top-links .bids-link {
    float: right;
    text-align: right;
  }

  .product-list .article .details-top .top-links .bids-link:before {
    display: none;
  }

  .product-list .article .details-bottom .highlights-cont ul li {
    width: 33.33%;
  }

  .product-list .article .details-bottom .offer-cont {
    width: 35%;
  }
}

@media (max-width: 767px) {
  .product-list .article {
    padding: 30px 20px 26px 20px;
  }

  .product-list .article .product-img {
    width: 100%;
    margin: 0 0 15px 0;
  }

  .product-list .article .product-details {
    width: 100%;
    float: left;
    padding: 0;
  }

  .product-list .article .details-bottom .highlights-cont {
    width: 100%;
    padding: 0 0 20px 0;
  }

  .product-list .article .details-bottom .highlights-cont:last-child {
    padding-bottom: 0;
  }

  .product-list .article .details-bottom .highlights-cont ul li {
    width: 25%;
  }

  .product-list .article .details-bottom .offer-cont {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .product-list .article .details-bottom .offer-cont ul li {
    width: 25%;
  }

  .product-list .article .details-bottom .offer-cont ul li:before {
    display: none;
  }
}

@media (max-width: 639px) {
  .product-list .article .details-top .product-title {
    width: 100%;
    padding: 0 0 15px 0;
  }

  .product-list .article .details-top .top-links {
    width: 100%;
  }

  .product-list .article .details-top .top-links .options-in {
    width: 100%;
    float: left;
  }

  .product-list .article .details-top .top-links .options .check {
    width: auto;
    float: left;
    padding: 0;
    margin: 0 25px 10px 0;
  }

  .product-list .article .details-top .top-links .btn {
    width: 145px;
    float: left;
  }

  .product-list .article .details-top .top-links .btn-out {
    width: 100%;
  }

  .product-list .article .details-top .top-links .bids-link {
    width: 100%;
    text-align: left;
    padding: 15px 0 0 0;
  }

  .product-list .article .details-top .top-links .bids-link:before {
    width: 180px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
}

@media (max-width: 479px) {
  .product-list .article .details-bottom .highlights-cont ul li {
    width: 50%;
  }

  .product-list .article .details-bottom .offer-cont ul li {
    width: 50%;
  }
}

/* scroll bar */
ul#side::-webkit-scrollbar {
  height: 3px !important;
  width: 3px !important;
}

ul#side::-webkit-scrollbar-thumb {
  background: #504b4b6b !important;
  box-shadow: 0 0 0 #cacaca00;
  border-radius: 0px !important;
}

ul#side {
  max-height: 120vh;
  overflow: auto;
}

/* test css */
.docs-markdown {
  max-width: 100%;
}

.docs-markdown-ol,
.docs-markdown-p,
.docs-markdown-ul {
  font-size: 16px;
  line-height: 28px;
}

.docs-guide-toc-and-content {
  display: flex;
  align-items: flex-start;
  text-align: left;
  max-width: 940px;
  margin: 0 auto;
}

.docs-markdown-ol,
.docs-markdown-p,
.docs-markdown-ul {
  font-size: 16px;
  line-height: 28px;
}

.docs-markdown-h3 {
  font-size: 20px;
}

.docs-guide-wrapper {
  padding: 20px 70px 0;
  display: block;
  text-align: center;
}

.docs-header-link header-link a {
  text-decoration: none;
  margin-left: -30px;
  display: inline-block;
  vertical-align: middle;
}

.docs-markdown-a {
  text-decoration: none;
  color: #3f51b5;
}

.docs-markdown-h3 .material-icons,
.docs-markdown-h4 .material-icons {
  color: rgba(0, 0, 0, .54);
}

.docs-header-link .material-icons {
  visibility: hidden;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.docs-markdown-pre {
  background: rgba(0, 0, 0, .01);
  border: .5px solid rgba(0, 0, 0, .03);
}

.docs-markdown-pre {
  border-radius: 5px;
  display: flex;
  margin: 16px auto;
  overflow-x: auto;
  padding: 5px;
  white-space: pre-wrap;
}

pre {
  font-size: 14px;
}

code,
pre {
  font-family: 'Roboto Mono', monospace !important;
}

.docs-markdown-pre .docs-markdown-code {
  background: 0 0;
}

.docs-markdown-pre .docs-markdown-code {
  padding: 0;
}

.docs-markdown-pre code {
  font-size: 100%;
}

.docs-markdown-code {
  background: rgba(0, 0, 0, .03);
}

.docs-markdown-code {
  padding: 3px;
}

code {
  font-size: 90%;
}

code,
pre {
  font-family: 'Roboto Mono', monospace !important;
}

tt,
code,
kbd,
samp {
  font-family: monospace !important;
}

.hljs-attribute,
.hljs-keyword,
.hljs-name,
.hljs-type {
  color: #3b78e7;
}

.hljs-string,
.hljs-subst {
  color: #0d904f;
}

.docs-markdown-pre .docs-markdown-code {
  background: 0 0;
}

.docs-markdown-pre .docs-markdown-code {
  padding: 0;
}

.docs-markdown-pre code {
  font-size: 100%;
}

.doc {
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

a#progress {
  font-size: 12px;
  color: #a7be2f;
  padding: 20px 20px;
}

.border-top-box {
  border-top: 1px solid #dee2e670 !important;
}

.docs-markdown-pre .lang-html {
  overflow-x: auto;
  padding: 2px 10px;
  white-space: pre-wrap;
  display: flex;
  margin: 5px;
}


span.hljs-name {
  color: #1757d0;
}

.docs-markdown-pre {
    background: rgba(0,0,0,.01);
    border: .5px solid rgba(0,0,0,.03);
}

.docs-markdown-pre {
    border-radius: 5px;
    display: block;
    margin: 16px auto;
    overflow-x: auto;
    padding: 20px;
    white-space: pre-wrap;
}
pre {
    font-size: 14px;
}
.docs-markdown-pre .docs-markdown-code {
  background: 0 0;
}

.docs-markdown-pre .docs-markdown-code {
  padding: 0;
}
.docs-markdown-pre code {
  font-size: 100%;
}
.docs-markdown-pre code {
  font-size: 100%;
}
