<div class="col">
  <div class="col" id="ChoiceWidget">
    <p class="mb-0" *ngIf="false">showing {{slideIndex}} of {{choiceOptions?.length}}</p>
    <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="choiceOptions">
      <ngu-tile *nguCarouselDef="let option; let choiceIndex = index">
        <div class="choiceWidget p-0" id="choice{{choiceIndex}}">
          <div class="box" [style.background-color]='bgColor'>
            <div [class]="customLayoutClass">
              <section class="optionTitle">
                <p class="text-bold col">
                  <b><span class="{{labelOneCustomClass}}" [style.font-size]="labelOneSize">
                      #{{option?.optionId}}</span></b>
                  <span class="{{labelTwoCustomClass}}" [style.font-size]="labelTwoSize"
                    id="projectName{{choiceIndex}}">-{{option?.projectName}}</span></p>
              </section>
              <section class="subTitle voteSection">
                <div class="col">
                  <div class="row">
                    <div class="col-sm-6 pr-1">
                      <img height="80%" width="100%" src="{{option?.optionImg}}" class="c-pointer companyLogo"
                        [id]="option?.optionImgId" [alt]="option?.optionImgName" />
                    </div>
                    <div class="col-sm-6 text-center p-0">
                      <div class="col">
                        <div class="row">
                          <span class='col-sm-12 {{labelThreeCustomClass}}'
                            [style.font-size]="labelThreeSize"><b>Votes</b> </span>
                        </div>
                      </div>
                      <div class="col">
                        <div class="row">
                          <span class='col-sm-12 {{labelFourCustomClass}}' [style.font-size]="labelFourSize"
                            id="voteCount{{choiceIndex}}">{{option?.voteCount}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class=" mb-2 mt-2">
                <span class="{{labelFiveCustomClass}} col" [style.font-size]="labelFourSize"><b>SUMMARY</b></span>
              </section>
              <section class="summary">
                <p class='{{contentTwoCustomClass}} col block-with-text  mb-2'>
                  <span class="subTitle" id="summary{{choiceIndex}}">{{option?.optionSummary}}</span>
                </p>
              </section>
              <section class="mb-2 mt-2">
                <span class="col mb-2 mt-2 {{labelSixCustomClass}}" [style.font-size]="labelSixSize"><b>TEAM</b> </span>
              </section>
              <section class="mb-2">
                <div class="col">
                  <div class="row">
                    <div class="col-lg-4 col-4 pl-1 pr-2"
                      *ngFor="let user of option[teamMemberskey] | slice:0:3; let userIndex = index">
                      <div class="user-chip-shadow m-1 {{widgetCustomClass}}" id="userwidget{{userIndex}}">
                        <div class="col p-0">
                          <a class="d-flex justify-content-center" id="match-chip">
                            <img src="{{user?.userImg}}" class="c-pointer {{userImgClass}}" [id]="user?.userImgId"
                              [alt]="user?.userName" />
                          </a>
                        </div>
                        <div class="col justify-content-center p-0">
                          <section class="text-center pt-1 pl-1 pr-1">
                            <h1 [style.font-size.px]="userNameSize" [style.color]="userNameColor"
                              class="mb-1 text-overflow {{userNameClass}}" [id]="user?.userNameId">{{user?.userName}}
                            </h1>
                            <h2 [style.font-size.px]="userDesignationSize" [style.color]="userDesignationColor"
                              class="mb-0 text-overflow  {{userDesignationClass}}" [id]="user?.userDesignationId">
                              {{user?.userDesignation}}
                            </h2>
                          </section>
                          <section class="text-center {{iconClass}}">
                            <span [style.font-size.px]="iconSize" *ngFor="let media of user.socialMedia">
                              <span class="text-black icons" (click)="soacialAction.emit(media)" [id]="media.id"><i
                                  [style.color]="iconColor" [class]="media.icon"></i></span>
                            </span>
                          </section>
                        </div>
                      </div>
                    </div>
                    <div class="col mb-2" *ngIf="!(option[teamMemberskey]?.length > 0)">
                      <div class="no-memebers">Not Available</div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="col {{footerbox}}">
              <div class="row text-center">
                <div class="col mt-2 mb-2  ">
                  <button (click)="actionOne.emit(option);" id="btnSecondry{{choiceIndex}}"
                    class="btn btn-secondry btnSecondry">{{option?.btnSecondry}}</button>
                </div>
                <div *ngIf="option?.IsBtnPrimary == false" class="col mt-2 mb-2">
                  <button (click)="actionTwo.emit(option);" id="btnPrimary{{choiceIndex}}"
                    class="btn {{option?.btnPrimary}} btn-primary ">{{option?.btnPrimary}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngu-tile>
      <button NguCarouselPrev class='leftRs' [id]="leftIconId"
        *ngIf="(choiceOptions?.length > 3 || screenWidth < 1024)"> <span class="left-icon"><i
            class="fa fa-chevron-left"></i></span></button>
      <button NguCarouselNext class='rightRs' [id]="rightIconId"
        *ngIf="(choiceOptions?.length > 3 || screenWidth < 1024)"> <span class="right-icon"><i
            class="fa fa-chevron-right"></i></span></button>
    </ngu-carousel>
  </div>
</div>