<div class="headingStyle" [style.font-size.px]="widgetTitleSize" [class]="widgetTitlecustomclass" id="{{widgetTitleid}}"
  [style.font-weight]="widgetTitleWeight" [style.color]="widgetTitleColor">{{widgetTitle}} </div>
<div class="article mb-3 p-0 pt-3">
  <div class="col-sm-12 col-xs-12 border">
    <div class="col-sm-12 col-xs-12 pt-3 p-2">
      <div class="font_weight contentStyle shipping-address" [class]="shippingaddressCustomClass">
        <p class="mb-1"><span>{{firstName || 'no data'}}</span>
          <span class="ml-2">{{secondName}}</span></p>
        <p class="mb-1">{{addressOne}}</p>
        <p class="mb-1">{{addressTwo}}</p>
        <p class="mb-1"><span>{{city}}</span><span class="ml-2">{{state}}</span><span class="ml-2">
            {{zip}}</span></p>
        <p class="mb-1">{{country}}</p>
      </div>
    </div>
  </div>
</div>