<div class="colp-4" [formGroup]="form">
  <label id="titleId" class="titleClass">{{title}}</label>
  <div class="col bg p-4">
    <div class="col mt-2">
      <mat-checkbox color="primary" type="checkbox" (change)="action()" id="{{checkBoxId}}" formControlName="{{control}}"
        name="{{control}}">
      </mat-checkbox>
      <span class="col-sm-12 terms" id="{{contentId}}">
        {{content}}
      </span>
    </div>
    <div class="col d-flex justify-content-center mt-5">
      <button class="btn btn-info" [ngClass]="{'disabled': formValid}" (click)="agree()" [disabled]="formValid">Agree &
        Continue</button>
    </div>
  </div>
</div>