/* suku-fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400,700');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:200i,400,700');
/* light */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap');
/* dark */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&display=swap');

$suku-primary-font: var(--suku-primary-font) !important;
$suku-secondary-font:var(--suku-secondary-font) !important;

$suku-sick-green : var(--suku-primary-color);// sick-green
$suku-yellow-green : var(--suku-secondary-color);// warm-green

$suku-bg-primary: var(--suku-bg-primary); // dark-grey
$suku-bg-secondary: var(--suku-bg-secondary);
$suku-bg-ternary: var(--suku-bg-ternary);

$suku-text-heading: var(--suku-text-heading); 
$suku-text-sub-heading: var(--suku-text-sub-heading);
$suku-text-label-one: var(--suku-text-label-one);
$suku-text-label-two: var(--suku-text-label-two);
$suku-text-label-three: var(--suku-text-label-three);
$suku-text-link: var(--suku-text-link);
$suku-text-info: var(--suku-text-info);

$suku-primary-border-color: var(--suku-primary-border-color); // sick-green
$suku-secondary-border-color: var(--suku-secondary-border-color); // pale-grey
$suku-primary-border-radius: var(--suku-primary-border-radius); // right-top-curve
$suku-secondary-border-radius: var(--suku-secondary-border-radius);
$suku-default-border-radius: var(--suku-default-border-radius);

$suku-filter-bg: var(--suku-filter-bg);
$suku-filter-label: var(--suku-filter-label);
$suku-filter-label-selected: var(--suku-filter-label-selected);
$suku-font-size-2: var(--suku-font-size-2);
$suku-font-size-3: var(--suku-font-size-3);
$suku-font-size-4: var(--suku-font-size-4);
$suku-font-size-5: var(--suku-font-size-5);
$suku-font-size-6: var(--suku-font-size-6);
$suku-star-full-bg: var(--suku-star-full-bg);
$suku-star-empty-bg: var(--suku-star-empty-bg);
$suku-default-bg: var(--suku-default-bg);
$suku-star-size: var(--suku-star-size);

@mixin suku-title-box {
  background-image: linear-gradient(to bottom, rgba(101, 102, 243, 0.06), rgba(101, 102, 243, 0.06)),
    radial-gradient(circle at 50% 0, #3a3a3a, #000000);
  border-radius: 0px;
  box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.08);
}