<div class="col">
  <div class="row">
    <div class="col m-2 p-0" *ngFor="let user of teamMembers">
      <div class="user-chip-shadow m-1 {{widgetCustomClass}}">
        <div class="col p-0">
          <a class="d-flex justify-content-center" id="match-chip">
            <img src="{{user?.userImg}}" class="c-pointer {{userImgClass}}" [id]="user?.userImgId"
              [alt]="user?.userName" />
          </a>
        </div>
        <div class="col justify-content-center p-0">
          <section class="text-center pt-3">
            <h1 [style.font-size.px]="userNameSize" [style.color]="userNameColor" class="mb-1 {{userNameClass}}"
              [id]="user?.userNameId">{{user?.userName}}</h1>
            <h2 [style.font-size.px]="userDesignationSize" [style.color]="userDesignationColor"
              class="{{userDesignationClass}}" [id]="user?.userDesignationId">{{user?.userDesignation}}</h2>
          </section>
          <section class="text-center {{iconClass}}">
            <span [style.font-size.px]="iconSize" *ngFor="let media of user.socialMedia">
              <span class="text-black p-2 icons" (click)="soacialAction.emit(media)" [id]="media.id"><i
                  [style.color]="iconColor" [class]="media.icon"></i></span>
            </span>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
