.bg {
    border-radius: 0 0 41px 41px;
    background-color: #ffffff;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.05);
}

.terms {
    font-family: "Encode Sans", sans-serif !important;
    ;
    font-size: 1rem;
}

label {
    font-family: 'Poppins', sans-serif !important;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
}

.upload-doc-title {
    font-family: 'Poppins', sans-serif !important;
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
}

.owner {
    font-family: 'Poppins', sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
}

.card-line {
    // background-color: #747474af;
    // color: white;
    // height: 40px;
    // border-radius: 2px;
    // letter-spacing: 0.5px;
    // box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.03);


    // background-color: #c7e339;
    // color: #060610;
    // height: 42px;
    // border-radius: 6px;
    // letter-spacing: 0.5px;
    // box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.03);

    // background-color: #c3eb1beb;
    // color: #060610;
    // height: 42px;
    // border-radius: 2px;
    // letter-spacing: 0.5px;
    // box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.03);
    // border-left: 4px solid black;

    background-color: #ffffff;
    color: #2c2727;
    height: 46px;
    border-radius: 2px;
    letter-spacing: 0.5px;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    border-top: 3px solid #bfd131c9;
}

.fullwidth {
    width: 100%;
}

.c-pointer {
    cursor: pointer;
}


/* upload box css */

.display-2 {
    font-size: 4.2rem !important;
    line-height: 1.2 !important;
}

.border-dot {
    border-style: dashed !important;
    border-color: #6a68689e;
    border-radius: 1px;
    border-width: 2px;
}

.upload {
    opacity: 0;
    width: 277px !important;
    position: relative;
    height: 120px;
}

.upload:hover {
    cursor: pointer !important;
}

.upload-icon {
    position: absolute;
}

.icon {
    font-size: 1.4rem;
    color: #ccda5c;
}

/* button css */

.btn {
    border: solid 2px #a7bf2e;
    padding: 10px 32px 10px 32px;
    background-color: white;
    color: black;
    border-radius: 29px 77px 61px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif !important;
}


.btn-info {
    border: solid 2px #a7bf2e;
    padding: 10px 32px 10px 32px;
    background-color: white;
    color: #00000099;
}

.btn-info:hover {
    border: solid 2px #a7bf2e;
    padding: 10px 32px 10px 32px;
    background-color: #a7bf2e;
    color: white;
}


.btn-info:active {
    border: solid 2px #a7bf2e;
    padding: 10px 32px 10px 32px;
    background-color: #a7bf2e;
    color: white;
}

.btn-info.disabled {
    border: solid 2px #a7bf2e;
    padding: 10px 32px 10px 32px;
    background-color: white;
    color: grey;
}

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
    border: solid 2px #a7bf2e;
    padding: 10px 32px 10px 32px;
    background-color: white !important;
    color: grey;
    box-shadow: none !important;
}

.btn-info:focus,
.btn-info.focus {
    border: solid 2px #a7bf2e;
    padding: 10px 32px 10px 32px;
    background-color: #a7bf2e;
    color: white;
    box-shadow: none !important;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open>.dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open>.dropdown-toggle .btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open>.dropdown-toggle .btn-info.focus {
    border: solid 2px #a7bf2e;
    padding: 10px 32px 10px 32px;
    background-color: #a7bf2e;
    color: white;
    box-shadow: none !important;
}


.disabled {
    cursor: not-allowed !important;
}